# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
lstschools=school_data_complete['school_name'].unique()
totschools =len(lstschools)

In [3]:
totstudents = school_data_complete['student_name'].count()

In [4]:
dfsummary = school_data_complete[['school_name', 'budget']]

In [5]:
dfsummary.drop_duplicates(inplace =True)

C:\Users\jeff\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [6]:
totalbudget=dfsummary['budget'].sum()

In [7]:
avgmath =school_data_complete['math_score'].mean()
avgreading =school_data_complete['reading_score'].mean()

In [8]:
overallpassrate = (avgmath + avgreading)/2

In [9]:
mathovr70 = school_data_complete.loc[school_data_complete['math_score']>70]
readovr70 = school_data_complete.loc[school_data_complete['reading_score']>70]

In [10]:
passmath =(mathovr70['student_name'].count()/ totstudents)*100
passread =(readovr70['student_name'].count()/ totstudents)*100

In [11]:
dffinal=pd.DataFrame([{'Total Number of Schools':totschools,'Total Number of Students':totstudents,'Total Budget':totalbudget,'Average Math Score':avgmath,'Average Reading Score':avgreading,'Overall Passing Rate':overallpassrate,'Percent Who Passed Math':passmath,'Percent Who Passed Reading':passread}])
dffinal

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Who Passed Math,Percent Who Passed Reading,Total Budget,Total Number of Schools,Total Number of Students
0,78.985371,81.87784,80.431606,72.392137,82.971662,24649428,15,39170

In [12]:
dffinal['Total Budget']               = dffinal['Total Budget'].map('${:,.2f}'.format)
dffinal['Average Math Score']         = dffinal['Average Math Score'].map('{0:,.2f}%'.format)
dffinal['Average Reading Score']      = dffinal['Average Reading Score'].map('{0:,.2f}%'.format)
dffinal['Overall Passing Rate']       = dffinal['Overall Passing Rate'].map('{0:,.2f}%'.format)
dffinal['Percent Who Passed Math']    = dffinal['Percent Who Passed Math'].map('{0:,.2f}%'.format)
dffinal['Percent Who Passed Reading'] = dffinal['Percent Who Passed Reading'].map("{0:.2f}%".format)

#['Average Math Score', 'Average Reading Score', 'Overall Passing Rate',       'Percent Who Passed Math', 'Percent Who Passed Reading', 'Total Budget', 'Total Number of Schools', 'Total Number of Students']

In [13]:
dffinal

,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Who Passed Math,Percent Who Passed Reading,Total Budget,Total Number of Schools,Total Number of Students
0,78.99%,81.88%,80.43%,72.39%,82.97%,"$24,649,428.00",15,39170

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

In [14]:
dftop = school_data_complete[['school_name','type','Student ID','budget','math_score','reading_score']]

In [15]:
gpdftop= dftop.groupby(['school_name','type','budget'])

In [16]:
studcnt=gpdftop['Student ID'].count()

In [17]:
perstud=gpdftop['budget'].max()/studcnt

In [18]:
avgmathsc=gpdftop['math_score'].mean()
avgreadsc=gpdftop['reading_score'].mean()

In [19]:
newmathovr70 = school_data_complete.loc[school_data_complete['math_score']>70]
mathgp =newmathovr70.groupby(['school_name'])
mathover70gp=mathgp['math_score'].count()

In [20]:
newreadovr70 = school_data_complete.loc[school_data_complete['math_score']>70]
readgp =newreadovr70.groupby(['school_name'])
readover70gp=readgp['reading_score'].count()

In [21]:
totmathcnt = gpdftop['math_score'].count()
totreadcnt = gpdftop['reading_score'].count()

In [22]:
pctmath =(mathover70gp / totmathcnt)*100
pctread =(readover70gp / totreadcnt)*100

In [23]:
overallpassrate2=(pctmath + pctread)/2

In [24]:
dfstudfinal = pd.DataFrame({
    'Total Number of Students':studcnt,
    'Per Student Budget':perstud,
    'Average Math Score':avgmathsc,
    'Average Reading Score':avgreadsc,
    'Overall Passing Rate':overallpassrate2,
    'Percent Who Passed Math':pctmath,
    'Percent Who Passed Reading':pctread})

dfstudfinalunformatted = pd.DataFrame({
    'Total Number of Students':studcnt,
    'Per Student Budget':perstud,
    'Average Math Score':avgmathsc,
    'Average Reading Score':avgreadsc,
    'Overall Passing Rate':overallpassrate2,
    'Percent Who Passed Math':pctmath,
    'Percent Who Passed Reading':pctread})
dfstudfinal.head()

,,,Total Number of Students,Per Student Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Who Passed Math,Percent Who Passed Reading
school_name,type,budget,,,,,,,
Bailey High School,District,3124928,4976,628.0,77.048432,81.033963,64.630225,64.630225,64.630225
Cabrera High School,Charter,1081356,1858,582.0,83.061895,83.975780,89.558665,89.558665,89.558665
Figueroa High School,District,1884411,2949,639.0,76.711767,81.158020,63.750424,63.750424,63.750424
Ford High School,District,1763916,2739,644.0,77.102592,80.746258,65.753925,65.753925,65.753925
Griffin High School,Charter,917500,1468,625.0,83.351499,83.816757,89.713896,89.713896,89.713896

In [25]:
dfstudfinal['Per Student Budget']               = dfstudfinal['Per Student Budget'].map('${:,.2f}'.format)
dfstudfinal['Average Math Score']         = dfstudfinal['Average Math Score'].map('{0:,.2f}%'.format)
dfstudfinal['Average Reading Score']      = dfstudfinal['Average Reading Score'].map('{0:,.2f}%'.format)
dfstudfinal['Overall Passing Rate']       = dfstudfinal['Overall Passing Rate'].map('{0:,.2f}%'.format)
dfstudfinal['Percent Who Passed Math']    = dfstudfinal['Percent Who Passed Math'].map('{0:,.2f}%'.format)
dfstudfinal['Percent Who Passed Reading'] = dfstudfinal['Percent Who Passed Reading'].map("{0:.2f}%".format)
dfstudfinal.head()

,,,Total Number of Students,Per Student Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Who Passed Math,Percent Who Passed Reading
school_name,type,budget,,,,,,,
Bailey High School,District,3124928,4976,$628.00,77.05%,81.03%,64.63%,64.63%,64.63%
Cabrera High School,Charter,1081356,1858,$582.00,83.06%,83.98%,89.56%,89.56%,89.56%
Figueroa High School,District,1884411,2949,$639.00,76.71%,81.16%,63.75%,63.75%,63.75%
Ford High School,District,1763916,2739,$644.00,77.10%,80.75%,65.75%,65.75%,65.75%
Griffin High School,Charter,917500,1468,$625.00,83.35%,83.82%,89.71%,89.71%,89.71%

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [26]:
top5 = dfstudfinalunformatted.sort_values('Overall Passing Rate')
top5['Per Student Budget']         = top5['Per Student Budget'].map('${:,.2f}'.format)
top5['Average Math Score']         = top5['Average Math Score'].map('{0:,.2f}%'.format)
top5['Average Reading Score']      = top5['Average Reading Score'].map('{0:,.2f}%'.format)
top5['Overall Passing Rate']       = top5['Overall Passing Rate'].map('{0:,.2f}%'.format)
top5['Percent Who Passed Math']    = top5['Percent Who Passed Math'].map('{0:,.2f}%'.format)
top5['Percent Who Passed Reading'] = top5['Percent Who Passed Reading'].map("{0:.2f}%".format)
top5.head(5)

,,,Total Number of Students,Per Student Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Who Passed Math,Percent Who Passed Reading
school_name,type,budget,,,,,,,
Huang High School,District,1910635,2917,$655.00,76.63%,81.18%,63.32%,63.32%,63.32%
Figueroa High School,District,1884411,2949,$639.00,76.71%,81.16%,63.75%,63.75%,63.75%
Johnson High School,District,3094650,4761,$650.00,77.07%,80.97%,63.85%,63.85%,63.85%
Rodriguez High School,District,2547363,3999,$637.00,76.84%,80.74%,64.07%,64.07%,64.07%
Bailey High School,District,3124928,4976,$628.00,77.05%,81.03%,64.63%,64.63%,64.63%

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [27]:
bottom5 = dfstudfinalunformatted.sort_values('Overall Passing Rate', ascending=False)
bottom5['Per Student Budget']         = bottom5['Per Student Budget'].map('${:,.2f}'.format)
bottom5['Average Math Score']         = bottom5['Average Math Score'].map('{0:,.2f}%'.format)
bottom5['Average Reading Score']      = bottom5['Average Reading Score'].map('{0:,.2f}%'.format)
bottom5['Overall Passing Rate']       = bottom5['Overall Passing Rate'].map('{0:,.2f}%'.format)
bottom5['Percent Who Passed Math']    = bottom5['Percent Who Passed Math'].map('{0:,.2f}%'.format)
bottom5['Percent Who Passed Reading'] = bottom5['Percent Who Passed Reading'].map("{0:.2f}%".format)
bottom5.head(5)

,,,Total Number of Students,Per Student Budget,Average Math Score,Average Reading Score,Overall Passing Rate,Percent Who Passed Math,Percent Who Passed Reading
school_name,type,budget,,,,,,,
Pena High School,Charter,585858,962,$609.00,83.84%,84.04%,91.68%,91.68%,91.68%
Wilson High School,Charter,1319574,2283,$578.00,83.27%,83.99%,90.93%,90.93%,90.93%
Holden High School,Charter,248087,427,$581.00,83.80%,83.81%,90.63%,90.63%,90.63%
Wright High School,Charter,1049400,1800,$583.00,83.68%,83.95%,90.28%,90.28%,90.28%
Thomas High School,Charter,1043130,1635,$638.00,83.42%,83.85%,90.21%,90.21%,90.21%

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [29]:
gbsg = school_data_complete.groupby(['school_name' , 'grade'])
avgmath = gbsg['math_score'].mean()
mathbygd = pd.DataFrame({'Average Math Score':avgmath})
mathbygd['Average Math Score']= mathbygd['Average Math Score'].map('{0:,.2f}%'.format)
mathbygd.head(10)

                           Average Math Score
school_name          grade
Bailey High School   10th              77.00%
                     11th              77.52%
                     12th              76.49%
                     9th               77.08%
Cabrera High School  10th              83.15%
                     11th              82.77%
                     12th              83.28%
                     9th               83.09%
Figueroa High School 10th              76.54%
                     11th              76.88%

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [30]:
avgread = gbsg['reading_score'].mean()
readbygd = pd.DataFrame({'Average Reading Score':avgread})
readbygd['Average Reading Score']= readbygd['Average Reading Score'].map('{0:,.2f}%'.format)
readbygd.head(10)

                           Average Reading Score
school_name          grade
Bailey High School   10th                 80.91%
                     11th                 80.95%
                     12th                 80.91%
                     9th                  81.30%
Cabrera High School  10th                 84.25%
                     11th                 83.79%
                     12th                 84.29%
                     9th                  83.68%
Figueroa High School 10th                 81.41%
                     11th                 80.64%

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [31]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]

In [36]:
dfstudfinalunformatted.columns

Index(['Total Number of Students', 'Per Student Budget', 'Average Math Score',
       'Average Reading Score', 'Overall Passing Rate',
       'Percent Who Passed Math', 'Percent Who Passed Reading'],
      dtype='object')

In [37]:
byspending = dfstudfinalunformatted[[ 'Per Student Budget', 'Average Math Score',
       'Average Reading Score', 'Overall Passing Rate',
       'Percent Who Passed Math', 'Percent Who Passed Reading']]

## Scores by School Size

* Perform the same operations as above, based on school size.

In [33]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

## Scores by School Type

* Perform the same operations as above, based on school type.